<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<!-- Appenders -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p: %c - %m%n"/>s
		</Console>
		
		<File name="file" fileName="/logTest/test.log">
			<patternLayout pattern="%d %5p [%c] %m%n"/>
		</File>
	</Appenders>
	
	<!-- Application Loggers -->
	<Loggers>
		<Logger name="com.sejong.hhsweb" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
	</Loggers>


</Configuration>